      <!-- Sidebar -->
      <section id="sidebar">

        <%= render 'welcome/imperfect/intro' %>

        <%= render 'welcome/imperfect/minipost' %>

        <%= render 'welcome/imperfect/postlist' %>

        <%= render 'welcome/imperfect/about' %>

        <%= render 'welcome/imperfect/footer' %>

      </section>