      <!-- Sidebar -->
      <section id="sidebar">

        <%= render 'welcome/intro' %>

        <%= render 'welcome/minipost' %>

        <%= render 'welcome/postlist' %>

        <%= render 'welcome/about' %>

        <%= render 'welcome/footer' %>

      </section>