
            <!-- Section -->
            <section>
                <header class="major">
                  <h2>Listing Articles</h2>
                </header>

                <div class="posts">
                  <% @articles.each do |article| %>
                  <article>
                    <h3><%= article.title %></h3>
                    <div><%= article.text %></div>
                    <ul class="actions">
                        <li><%= link_to 'Show', article_path(article) %></li>
                        <li><%= link_to 'Edit', edit_article_path(article) %></li>
                        <li><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                    </ul>
                  </article>
                  <% end %>

                  <!--
                  <article>
                    <a href="#" class="image"><img src=<%= image_path("pic02.jpg") %> alt="" /></a>
                    <h3>Nulla amet dolore</h3>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                    <ul class="actions">
                      <li><a href="#" class="button">More</a></li>
                    </ul>
                  </article>
                  <article>
                    <a href="#" class="image"><img src=<%= image_path("pic03.jpg") %> alt="" /></a>
                    <h3>Tempus ullamcorper</h3>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                    <ul class="actions">
                      <li><a href="#" class="button">More</a></li>
                    </ul>
                  </article>
                  <article>
                    <a href="#" class="image"><img src=<%= image_path("pic04.jpg") %> alt="" /></a>
                    <h3>Sed etiam facilis</h3>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                    <ul class="actions">
                      <li><a href="#" class="button">More</a></li>
                    </ul>
                  </article>
                  <article>
                    <a href="#" class="image"><img src=<%= image_path("pic05.jpg") %> alt="" /></a>
                    <h3>Feugiat lorem aenean</h3>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                    <ul class="actions">
                      <li><a href="#" class="button">More</a></li>
                    </ul>
                  </article>
                  <article>
                    <a href="#" class="image"><img src=<%= image_path("pic06.jpg") %> alt="" /></a>
                    <h3>Amet varius aliquam</h3>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                    <ul class="actions">
                      <li><a href="#" class="button">More</a></li>
                    </ul>
                  </article>
                  -->
                </div>
              </section>
