<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <!-- Wrapper -->
    <div id="wrapper">
        <%= yield %>
    </div>

    <!-- Scripts -->
    <%= javascript_include_tag("jquery.min") %>
    <%= javascript_include_tag("skel.min") %>
    <%= javascript_include_tag("util") %>
    <!--[if lte IE 8]><%= javascript_include_tag("ie/respond.min") %><![endif]-->
    <%= javascript_include_tag("main") %>
  </body>
</html>
